<!-- Thread Title -->
<h1><%= fewdpost.title %></h1>

<!-- Description of Thread -->
<p><%= fewdpost.body %></p>

<%= link_to "Edit this thread", edit_fewdpost_path(@fewdpost) %>

<%= link_to "Delete this thread!",:fewdpost, method: :delete, data: {confirm: "Are you sure you want to delete this thread?"} %>

<!-- Provide a link back to our index page -->
<%= link_to "Back to Anything Goes", fewdposts_path %>